---
layout: default_design
title: Travel
tags: portfolio
permalink: /travel/
js:
- js/util_buttons.js
---

<!-- <ul class="projects clearfix">
{% for post in site.portfolio %}
  <li>
    <div class="project"
         style='background-image: url(/images/portfolio/thumbs/{{ post.uid }}.jpg)'>
      <a class="cover" href="{{ post.url }}">
        <div class="project-details">
          <span>
            {{ post.title }}
          </span>
          <span>
            <i>{{ post.worktype }}</i>
          </span>
        </div>
      </a>

      <div class="aspect-two-one"></div>
    </div>
  </li>
{% endfor %}
</ul>

<div class="circle-button">
      <div class="top-circle" data-sr-id="80" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
        <img src="{{ site.url }}/images/logos/top.png">
  </div>
</div>

{% for js in page.js %}
  <script type="text/javascript">
  {% include {{ js }} %}
  </script>
{% endfor %} -->
<!-- <h1 align="center"> Updating soon! </h1> -->

<h1>Travel  🌴🛫👋 </h1>
<h2>(I'm no professional but I'm working towards it)</h2>
<h3>India | Jan '24
  <p>
    <img width="800" align="center" alt="taj" src="{{ site.url }}/images/taj.png"> 
    Taj Mahal, Agra
  </p>
  <p>
    <img width="800" align="center" alt="aleppey boat" src="{{ site.url }}/images/allepey.png"> 
    Boat ride, Aleppey
  </p>
  <p>
    <img width="800" align="center" alt="aleppey beach" src="{{ site.url }}/images/aleppeybeach.png"> 
    Beach, Aleppey
  </p>
  <p>
    <img width="800" align="center" alt="munaar" src="{{ site.url }}/images/munaar.png"> 
    Tea fields, Munaar
  </p>
  <p>
    <img width="800" align="center" alt="maniyara" src="{{ site.url }}/images/maniyara.jpg"> 
    Surat, India
  </p>
</h3>
<h3>Vancouver| Dec '24
  <p>
    <img width="800" align="center" alt="convention center" src="{{ site.url }}/images/vancouver.png"> 
    Downtown, Vancouver
  </p>
  <p>
    <video align="center" width="800" height="600" display="block" margin="auto" loop autoplay muted>
      <source src="http://sawanp813.github.io/images/vancouver_otter.mp4" type="video/mp4">
    </video>
  <p>
  <p>
    <img width="800" align="center" alt="aquarium" src="{{ site.url }}/images/walrus.png"> 
    Aquarium, Vancouver
  </p>
  <p>
    <img width="800" align="center" alt="convention center" src="{{ site.url }}/images/vancouver.jpg"> 
    Overhead, Vancouver
  </p>

</h3>
<h3>Boston| Nov '24
  <p>
    <img width="800" align="center" alt="Commonwealth Ave" src="{{ site.url }}/images/commave.png"> 
    Commonwealth Avenue, Boston
  </p>
</h3>
<h3>Outer Banks| July '24
  <p>
    <img width="800" align="center" alt="Outer Banks" src="{{ site.url }}/images/outerbanks.png"> 
    Outer Banks, North Carolina
  </p>
</h3>
<h3>Niagara Falls| Apr '24
  <p>
    <img width="800" align="center" alt="Niagara Falls" src="{{ site.url }}/images/niagara.png"> 
  </p>
</h3>
<h3>California| Mar '24
  <p>
    <img width="800" align="center" alt="Santa Monica sign" src="{{ site.url }}/images/santamonicasign.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Santa Monica Pier, 1" src="{{ site.url }}/images/santamonicapier1.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Santa Monica Pier, 2" src="{{ site.url }}/images/santamonicapier2.png"> 
    Santa Monica, California
  </p>
  <p>
    <img width="800" align="center" alt="Jaguar" src="{{ site.url }}/images/jag_petersen.png"> 
    Petersen Auto Museum, Los Angeles
  </p>
  <p>
    <img width="800" align="center" alt="broad1" src="{{ site.url }}/images/broad1.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="broad2" src="{{ site.url }}/images/broad2.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="broad3" src="{{ site.url }}/images/broad3.png"> 
    The Broad, Los Angeles
  </p>
  <p>
    <img width="800" align="center" alt="El Pollo Loco" src="{{ site.url }}/images/elpolloloco.png"> 
    El Pollo Loco, Los Angeles (see: Rush Hour 2)
  </p>
</h3>
<h3>Chicago| Aug '23
  <p>
    <img width="800" align="center" alt="Chicago River, 1" src="{{ site.url }}/images/Screen Shot 2023-07-16 at 6.26.01 PM.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Chicago cityscape" src="{{ site.url }}/images/chicago_scape.png"> 
    Downtown, Chicago
  </p>
  <p>
    <img width="800" align="center" alt="Chicago Ferris Wheel" src="{{ site.url }}/images/chicago_ferris.png"> 
    Big ferris wheel, Chicago
  </p>
</h3>
<h3>Iceland| Aug '22
  <p>
    <img width="800" align="center" alt="Reykjavik Cityscape" src="{{ site.url }}/images/scape_iceland.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Mural" src="{{ site.url }}/images/mural.png"> 
    Downtown Reykjavik, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Vik1" src="{{ site.url }}/images/vik_iceland.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Vik2" src="{{ site.url }}/images/vik_river_iceland.png"> 
    Vik, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Thingvellir" src="{{ site.url }}/images/thingvellir2_iceland.png"> 
    Thingvellir, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Sejlandfoss" src="{{ site.url }}/images/sejlandfoss_iceland.png"> 
    Sejlandfoss, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Grindavik basin" src="{{ site.url }}/images/basin_iceleand.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Grindavik volcano" src="{{ site.url }}/images/grindavik_iceland.png"> 
    Grindavik, Iceland
  </p>
  <p>
    <video align="center" width="800" height="600" display="block" margin="auto" loop autoplay muted>
      <source src="http://sawanp813.github.io/images/iceland_waterfall.mp4" type="video/mp4">
    </video>
  </p>
  <p>
    <img width="800" align="center" alt="Blaskogabygga" src="{{ site.url }}/images/blaskogabygga_iceland.png"> 
    Blaskogabygga, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Glacier deposit" src="{{ site.url }}/images/glacial_iceland.png"> 
    Glacier basin, Iceland
  </p>
  <p>
    <img width="800" align="center" alt="Black sand beach" src="{{ site.url }}/images/blacksand_hawaii.png"> 
    Black Sand Beach, Iceland
  </p>
</h3>
<h3>Manhattan| Mar '22
  <p>
    <img width="800" align="center" alt="Brooklyn Bridge" src="{{ site.url }}/images/bklyn_bridge.png"> 
    Brooklyn Bridge, New York
  </p>
  <p>
    <img width="800" align="center" alt="Cityscape" src="{{ site.url }}/images/ny_cityscape.png"> 
    Cityscape, New York
  </p>
</h3>
<h3>Hawaii| June '21
  <p>
    <img width="800" align="center" alt="Ho'okipa Beach" src="{{ site.url }}/images/ho'okipa_beach_hawaii.png"> 
    Ho'okipa Beach, Hawaii
  </p>
  <p>
    <img width="800" align="center" alt="Screen Shot 2023-07-16 at 6.26.01 PM" src="{{ site.url }}/images/sunset_hawaii.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Hawaii road" src="{{ site.url }}/images/hawaii_road.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Screen Shot 2023-07-16 at 6.26.01 PM" src="{{ site.url }}/images/sunset2_hawaii.png"> 
    Roads, Hawaii
  </p>
</h3>
<h3>India| Jan '21
  <p>
    <img width="800" align="center" alt="Vanesa, India" src="{{ site.url }}/images/farm.png"> 
    Vanesa, India
  </p>
  <p>
    <img width="800" align="center" alt="Statue of Unity" src="{{ site.url }}/images/statue_of_unity.png"> 
    Statue of Unity, India
  </p>
</h3>
<h3>Dubai| Dec '20
  <p>
    <img width="800" align="center" alt="Dubai Mall" src="{{ site.url }}/images/dubaimall.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Dubai view" src="{{ site.url }}/images/Sharjah_dubai.png"> 
  </p>
  <p>
    <img width="800" align="center" alt="Sharjah" src="{{ site.url }}/images/dubai_scape.png"> 
    Dubai, United Arab Emirates
  </p>
  <p>
    <img width="800" align="center" alt="Sheikh Zayed Mosque" src="{{ site.url }}/images/sheikhzayedmosque.png"> 
    Sheikh Zayed Mosque, Abu Dhabi, United Arab Emirates
  </p>
</h3>